# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Mission script directories
*.Altis/cc
*.Stratis/cc
*.Tanoa/cc
*.Malden/cc
*.Enoch/cc

# Mission temporary files
~*.Altis
~*.Stratis
~*.Tanoa
~*.Malden
~*.Enoch

# Local missions
CtrlC-Sandbox.*
